# Entorno virtual
.venv/

# Archivos de sistema
__pycache__/
*.pyc
*.pyo
*.pyd

# Datos grandes o sensibles
data/raw/
outputs/
models/

# Archivos temporales
*.log
*.tmp
.DS_Store

# Archivos DVC locales
.dvc/cache/
